<launch>
    <arg name="debug" default="false" />
    <arg name="hootl" default="false" />

    <node pkg="base_nodes" name="GroundStationGUI" type="GroundStationGUI" output="screen"> 
        <param name="debug" value="$(arg debug)"/>
        <param name="hootl" type="bool" value="$(arg hootl)"/>
    </node>

    <!-- if debug, include debug tools -->
    <group if="$(arg debug)">
        <include file="$(find base_nodes)/launch/self/debugTools.launch"/>
    </group>

    <!-- setup joy nodes, one for js0 and onefor js1, in the ubuntu vm, js0 is mouse-->
    <node pkg="joy" name="joy0_node" type="joy_node">
        <param name="dev" value="/dev/input/js1" />
        <param name="coalesce_interval" value="0.3" />
        <remap from="joy" to="joy0" />
    </node>

    <node pkg="joy" name="joy1_node" type="joy_node">
        <param name="dev" value="/dev/input/js2" />
        <param name="coalesce_interval" value="0.3" />
        <remap from="joy" to="joy1" />
    </node>

    <!-- setup JoyMapper -->
    <node pkg="base_nodes" name="joy_mapper" type="JoyMapper_node" output="screen" />

    <node pkg="base_nodes" name="LUSI_Vision_Streamer" type="LUSIVisionStreamer_node" output="screen">
        <param name="hootl" type="bool" value="$(arg hootl)"/>
    </node>

    <!-- streaming mapping -->
    <!-- <node name="republish" type="republish" pkg="image_transport" output="screen" args="theora in:=/videoStream raw out:=/videoStream/image_raw" /> -->

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/videoStream raw out:=/videoStream/image_raw" />
    <!-- <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=/videoStream2 raw out:=/videoStream2/image_raw" /> -->
    <!-- <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/videoStreamAR raw out:=/videoStream/image_raw" /> -->
</launch>