<launch>
   <arg name="singleComputer" default="false" />
   <node pkg="jetson_nodes" name="DriveTrainManager" type="DriveTrainManager_node" output="screen" />
   <group unless="$(arg singleComputer)">
      <node pkg="jetson_nodes" name="VideoStreamer" type="VideoStreamer_node" output="screen" />
      <node pkg="jetson_nodes" name="ArucoAdder" type="arucoAdder.py" output="screen" />
   </group>
</launch>