<launch>
   <arg name="hootl" default="false" />
   <!-- <node pkg="jetson_nodes" name="DriveTrainManager" type="DriveTrainManager_node" output="screen" /> -->
   <include file="$(find jetson_nodes)/launch/self/_internal_jetson.launch">
      <arg name="hootl" value="$(arg hootl)" />
   </include>
</launch>